body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}
.add-book-main-content {
  text-align: center;
  width: 451px;
  min-height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.exit_btn {
  position: absolute;
  transform: translate(170px, -51px);
  color: #7d7878;
  font-size: 15px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 7px;
  background-color: #e0e0e0;
}
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 56px;
  color: #000000;
}
.title {
  outline: none;
  background: #ffffff;
  border: 1px solid #b4b4bb;
  box-sizing: border-box;
  border-radius: 99px;
  width: 304px;
  height: 36px;
  margin: 15px 0px;
  padding: 8px 20px;
}

#select {
  outline: none;
  margin: 10px 0px;
  background: #ffffff;
  border: 1px solid #787885;
  box-sizing: border-box;
  border-radius: 10px;
  width: 304px;
  height: 36px;
  padding: 10px 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 32px;
}
.crt_btn {
  margin: 10px 0px;
  width: 304px;
  height: 50px;
  background: rgb(60, 219, 60);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 8px;
  border-color: transparent;
  cursor: pointer;
}
.author_modal{
  height: 450px !important;
  position: absolute;
  margin: auto;
}
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.modal_second{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
