body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 18px;
  font-size: 12px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  position: relative;
}

.header-logo {
  width: 100%;
  margin-bottom: 16px;
}
.logo {
  margin-left: 16px;
  float: left;
  margin-top: 12px;
  a {
    img {
      width: 140px;
    }
  }
}
.maincontent {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  .content {
    background-color: transparent;
    text-align: center;
    margin: 0px auto;
    text-align: left;
    width: 970px;
  }
}
.contentbox {
  border: 1px solid #d0d0c8;
  background-color: white;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 1px #d0d0c8;
  -webkit-box-shadow: 0px 1px 1px #d0d0c8;
  box-shadow: 0px 1px 1px #d0d0c8;
  padding: 28px 10px 34px 10px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  .column-right {
    float: none;
    h1 {
      color: #382110;
      background-color: transparent;
      padding: 0px 0px 2px 0px;
      font-size: 20px;
      font-family: "Merriweather", Georgia, "Times New Roman", serif;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 24px;
    }
  }
}

.choice {
  text-align: center;
  margin-bottom: 16px;
}
.sign-with-part {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
  text-align: -webkit-center;
  button {
    width: 300px;
    font-weight: normal;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    line-height: 2;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
  }
  a {
    button {
      width: 300px;
      font-weight: normal;
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      justify-content: center;
      line-height: 2;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .face-btn {
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
    font-weight: normal;
    span {
      width: 21px;
      height: 21px;
      margin-right: 8px;
    }
  }
  .amazon-btn {
    background-color: #f5d47a;
    color: #000;
    font-weight: normal;
    border: 1px solid #b38b22;
    span {
      width: 21px;
      height: 21px;
      margin-right: 8px;
      background-size: 100% 100%;
      margin-left: -0.5em;
    }
  }
  .apple-btn {
    background-color: #fff;
    color: #000;
    font-weight: normal;
    border: 1px solid #000;
    span {
      width: 31px;
      height: 31px;
      background-size: 100% 100%;
      margin-left: -1.5em;
    }
  }
}

.with-google {
  margin-top: 15px;
  margin-bottom: 10px;
  a {
    color: #666;
    background: transparent no-repeat;
    display: inline-block;
    padding-left: 20px;
    margin-right: 10px;
  }
}
.gradient {
  background-image: url(https://s.gr-assets.com/assets/layout/divider_left.png);
  background-position: 0px 0.75em;
  background-repeat: no-repeat;
  font-size: 14px;
  color: #999;
  margin: 0 auto;
  width: 300px;
  span {
    display: block;
    background-image: url(https://s.gr-assets.com/assets/layout/divider_right.png);
    background-position: 169px 0.75em;
    background-repeat: no-repeat;
  }
}

form {
  div {
    border: none;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }
}
label {
  color: #333;
  font-weight: bold;
  width: 100%;
}
.sign-inp {
  float: left;
  font-size: 15px;
  padding: 10px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 2px #333 #ccc;
  -webkit-box-shadow: 0px 2px 2px #333 #ccc;
  box-shadow: 0px 2px 2px #333 #ccc;
  font-weight: bold;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 300px;
  color: #333;
  box-sizing: border-box;
  background: white;
}
.inp-div {
  margin-top: 8px;
  &::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
}

.check {
  display: block;
  margin-top: 8px;
}
.submit {
  margin-top: 10px;
  button {
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    background-color: #f4f1ea;
  }
  .forgot {
    margin-left: 10px;
    font-weight: normal;
    font-size: 13px;
    color: #00635d;
    &:hover {
      text-decoration: underline;
    }
  }
}

.signUp {
  text-align: center;
  margin-top: 24px;
}
.footer {
  width: 965px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
}
.div-footer {
  width: 100%;
  height: 100px;
  text-align: center;
  color: #666;
  font-size: 10px;
}
.intro {
  margin-top: 0;
  margin: auto;
  margin-bottom: 25px;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
.signupWithEmail {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
